
/*
Reset the bootstrap css
*/
p {
    margin:0;
}
ul {
    margin:0;
}
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
body {
    background:#F4F4F4;
}

.classicbg {
    background:#FFF;
    box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
    background: linear-gradient(#fff, #f2f6f9);
}
/*
 * basic control layout reset
 *
 */
*, *:before, *:after {

    outline: none;
    position: relative;
}
/*input[type="search"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="text"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="checkbox"], input[type="radio"] {
 padding: 0;
 box-sizing: border-box;
 }*/

a {
    color: #444;
    text-decoration: none;
}
a:link {
}
a:visited {
}
a:hover {
    color: #ef3546;
    text-decoration: underline;
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, .wtxt {
    background: #F0F0F0;
    border: none;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    width: 180px;
}
.wtxt {
    background:#FFF !important;
    border:1px solid #DDD !important;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="search"]:hover, input[type="search"]:focus, textarea:hover, textarea:focus {
    background: #E8E8E8;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
}
.wtxt:hover {
    background:#FFF !important;
    border-color:#BBB !important;
}
.wtxt:focus {
    border-color:#BBB !important;
}
input[type="text"][disabled="disabled"], input[type="email"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="search"][disabled="disabled"], textarea[disabled="disabled"] {
    background: #DDD !important;
    color: #999 !important;
    box-shadow: none !important;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
input[type="button"], input[type="submit"], button, .btn, .slim-btn {
    background: #555;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    display:inline-block;
    margin: 0;
    padding: 5px 15px;
}
.slim-btn {
    background:transparent;
    border-color:#333;
    border-radius:200px;
    color:#333;
}
.slim-btn:hover {
    background:transparent;
    box-shadow:none;
    border-color:#222;
    color:#222;
}
.btn.btn-default {
    background:#F0F0F0;
    border:1px solid #CCC;
    color:#333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
.btn.btn-default:hover {
    background:#F8F8F8;
    border-color:#aaa;
    color:#333;
}
.btn.btn-warning {
    background:#FFD800;
    color:#333;
    text-shadow:0 1px 0 rgba(255,255,255,0.4);
}
.btn.btn-warning:hover {
    background:#FFF800;
    color:#333;
}
.btn.btn-danger {
    background:#EF3546;
    color:#FFF;
    text-shadow:0 1px 0 rgba(0,0,0,0.08);
}
.btn.btn-danger:hover {
    background:#FF6271;
    color:#FFF;
}
.btn.btn-primary {
    background:#46a2df;
    color:#FFF;
    text-shadow:none;
}
.btn.btn-primary:hover {
    background:#5abdff;
    color:#FFF;
}
.btn.btn-gray {
    background:#DDD;
    color:#333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
.btn.btn-gray:hover {
    background:#F0F0F0;
    color:#333;
}
.btn.btn-lg {
    font-size:14px;
    padding:10px 20px;
}
.btn.btn-sm, .slim-btn.btn-sm {
    font-size:smaller;
    height:22px;
    line-height:22px;
    padding:1px 8px;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, .btn:hover {
    background: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
input[type="button"][disabled="disabled"], input[type="submit"][disabled="disabled"], button[disabled="disabled"], .btn[disabled="disabled"] {
    background: #777 !important;
    box-shadow: none !important;
    color: #aaa !important;
    cursor: auto !important;
}
/*
 * util class
 *
 */
.btn-group {
    overflow: auto;
    _height: 1% 
}
.btn-group .btn {
    background-color:#F0F0F0;
    border-radius:100px;
    box-shadow:none !important;
    color:#999;
    float:left;
    margin-right:5px;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255,255,255,0.6);
}
.btn-group .btn:hover {
    color:#444;
}
.btn-group .btn.selected {
    background-color:#FFD800 !important;
    cursor:default;
    color:#FFF !important;
    text-shadow:none;
}
.simple-panel {
    background:#FAFAFA;
    border:1px solid #ddd;
    box-shadow:0 2px 4px rgba(0,0,0,0.06), inset 0 1px 0 rgba(255,255,255,0.9);
    padding:15px;
    text-shadow:0 1px 0 rgba(255,255,255,0.9);
}
.border-box {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.red {
    color: #ef3546;
}
.yellow {
    color: #ffde26;
}
.gray {
    color: #888;
}
.green {
    color: #20AA20 !important;
}
.cyan {
    color: #28a4c9;
}
.orange {
    color:#ed9c28;
}
.purple {
    color:palevioletred;
}
.light-gray {
    color:#aaa;
}
.white {
    color: #FFF;
}
.bold {
    font-weight: bold !important;
}
.relative {
    position: relative !important;
}
.l-ft {
    float: left !important;
}
.r-ft {
    float: right !important;
}
.lpad-30 {
    padding-left: 30px;
}
.pad-30 {
    padding: 30px !important;
}
.pad-20 {
    padding: 20px !important;
}
.pad-10 {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px !important;
}

.clear, .clear-5, .clear-10, .clear-15, .clear-20, .clear-30, .clear-50, .clear-100 {
    clear: both;
    display: block;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clear-5 {
    height: 5px;
}
.clear-10 {
    height: 10px;
}
.clear-15 {
    height: 15px;
}
.clear-20 {
    height: 20px;
}
.clear-30 {
    height: 30px;
}
.clear-50 {
    height: 50px;
}
.clear-100 {
    height: 100px;
}
.clear-line {
    background: #BBB;
    clear: both;
    font-size: 0;
    height: 1px;
    margin: 4px 0;
    width: auto;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}
.clearfix {
    overflow: auto;
    _height: 1%
}
.ico {
    background-image: url(../img/ico.png);
    background-repeat: no-repeat;
}
.vsplr {
    background: #e0e0e0;
    display: inline-block;
    height: 16px;
    margin: 2px 20px 0 20px;
    width: 1px;
}
.green-btn {
    background-color:#419641;
}
.green-btn:hover {
    background-color:#20AA20;
}
.black-btn {
    background-color:#333;
}
.black-btn:hover {
    background-color:#111;
}
.sm-btn {
    font-size:12px;
    padding:5px 12px;
}
/*
 * page layout
 *
 */
.wp {
    width: 100%;
}
.top {
    padding: 20px 0 0;
}
.wp.top {
    /*box-shadow:0 0 4px rgba(0,0,0,0.2);*/
    border-bottom: 1px solid #e0e0e0;
    background: #FFF;
    z-index:1;
}
.wp.top:hover {
    box-shadow:0 1px 4px rgba(0,0,0,0.2);
}
.content {
    padding-bottom:20px;
    padding-top:20px;
}
.wbg-wrapper {
    background:#fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.wp.top .container_24 {
    /*border-bottom:1px solid #F0F0F0;*/
    padding-bottom:20px;
}
.logo, .logo img {
    display: inline-block;
}
.search-bar {
    background: url(../img/search.png) left top no-repeat #f0f0f0;
    height: 40px;
}
.search-bar input[type='text'] {
    background: transparent;
    border: none;
    box-sizing:border-box;
    box-shadow: none !important;
    color: #c0c0c0;
    height: 100%;
    line-height: 30px;
    margin: 0;
    padding: 5px 40px;
    width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search-bar input[type='text']:focus, .search-bar input[type='text']:hover {
    color: #000;
}
.info-bar {
    height: 40px;
    line-height: 40px;
    float:right;
}
.info-bar .vsplr {
    margin-top: 12px;
    float: left;
}
.empty-content-block {
    border-bottom:1px solid #DDD;
    border-top:1px solid #DDD;
    margin-bottom:50px;
    padding-bottom:50px;
    padding-top:50px;
    text-align:center;
}
.empty-content-block p {
    font-size:16px;
    padding-bottom:20px;
}
.empty-content-block a {

}
.cart-bar a, .currency-bar a {
    background: #EF3546;
    border-radius: 2px;
    color: #FFF;
    height: 24px;
    margin-left: 4px;
    padding: 2px 8px;
    text-align: center;
    width: 24px;
}
.currency-bar a {
    background: #666;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
}
.hot-tags {
    padding-top: 20px;
}
.hot-tags * {
    float: left;
}

.addthis-block {
    float:right;
}
.addthis-block * {
    float:right;
}

.price, .price-option {
    display:none;
}
.login-window .btn-group .btn.selected {
    background-color:#EF3546 !important;
}
input.nothing-txt {
    background:transparent !important;
    border:0;
    box-shadow:none !important;
    padding:0 !important;
    width:240px;
}
.login-window .form-c {
    border:1px solid #ccc;
    margin-bottom:-1px;
    padding:8px 5px 8px 50px;
    position:relative;
}

.login-window .form-c i {
    color:#BBB;
    font-size:16px;
    left:15px;
    position: absolute;
    top:15px;
}
.login-window .mg {
    display:block;
    margin-bottom:15px;
}
.login-window .form-c:hover i {
    color:#333;
}

.login-window button {
    box-sizing: border-box;
    display:block;
    height:36px;
    width:100%;
}
.login-window button:hover {
    background:#EF3546 !important;
}
.login-window .forgot-pwd {
    display:block;
    margin-bottom:10px;
    margin-top:-5px;
    text-align:center;
    text-decoration: underline;
}
.login-window .forgot-pwd a:link {
    color:#aaa;
}
.login-window .forgot-pwd a:visited {
    color:#aaa;
}
.login-window .forgot-pwd a:hover {
    color:#EF3546;
}
.login-window .frm {
    padding:25px;
}
.login-window .clear-line {
    margin:10px 0;
}
.login-window .hd {
    background:#FFF;
    box-shadow:0 1px 2px rgba(0,0,0,0.08);
    padding:20px 25px;
}
.login-window .forgot-pwd:link {

}
.login-window .forgot-pwd:visited {

}
.login-window .forgot-pwd:hover {
    color:#333;
}
.login-window .valid-result {
    display:none;
}
.login-window .register-board {
    display:none;
}
.login-window .nothing-txt {
    width: 280px !important;
}

.ftb.nlm {
    border-left:none !important;
}

.ftb {
    border-bottom:1px solid #DDD;
    border-left:1px solid #DDD;
    box-sizing:border-box;
    float:left;
    padding:22px 10px 8px 10px;
    width: 50%;
}
.ftb:hover {
    cursor:text;
}
.ftb:hover i, .ftb:hover input {
    color:#EF3546;
}
.ftb.full {
    width: 100%;
}
.ftb.full .nothing-txt {
    width:540px !important;
}
.ftbp {
    padding-left:12px;
}
.ftbp select {
    background:#FFF;
    height:30px;
    margin:0;
    padding:0 8px;
}
.ftbp i {
    margin-right: 8px;
}
.ftb .top-c {
    color:#CCC;
    display: none;
    font-size:smaller !important;
    left:46px;
    position: absolute;
    top:10px;
}



.address-type.btn-group {
    margin-bottom:30px;
}
.divider {
    background:#F0F0F0;
    clear:both;
    height:1px;
    margin:0;
}
.dropdown-list {
    background:#FFF;
    box-shadow:0 0 10px rgba(0,0,0,0.12);
    display:none;
    position:absolute;
}
.dropdown-itm {
    cursor: pointer;
    display: block;
    padding: 6px 20px 6px 35px;
    position:relative;
}
.dropdown-itm:hover {
    background-color:#FBFBFB;
}
.dropdown-itm .halflings {
    left:11px;
    position:absolute;
    top:9px;
}