/*
* Reset the bootstrap css
*/
.input-group {
    margin-bottom:2px;
}
form[role='form'] {
    margin-bottom:30px;
}




* {
    font-family:"microsoft yahei";
}
.intlbd {
    background: #F0F0F0;
    border-top: 3px solid #339bfc;
    padding: 20px;
    text-align:center;
}
.page-title {
    font-size:24px;
    margin-bottom:30px;
}
.short-txt {
    width:80px;
}
.btb {
    padding:20px 0;
    text-align:right;
}
#save-btn {
    margin-top:20px;
}