/*
Common css
*/
.marginbottom10px {
    margin-bottom:10px !important;
}
.marginbottom20px {
    margin-bottom:20px !important;
}
.marginbottom50px {
    margin-bottom:50px !important;
}
.margintop20px {
    margin-top:20px !important;
}
.paddingbox20px {
    padding:20px !important;
}
.green {
    color:#398439 !important;
}
.red {
    color:#8C0000 !important;
}
.white {
    color:white !important;
}
.relative {
    position:relative !important;
}
.hidden {
    display:none;
}

.P_tmp {
    display:none;
}
.P_popupbg {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
#P_alertbox {
    background:#FFF;
    display:inline-block;
    line-height:24px;
    position:absolute;
}
#P_alertbox .P_wp {
    padding:50px;
}
#P_popup {
    background:rgba(255,255,255,0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.P_bg {
    background:#FFF;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    left:50%;
    top:50%;
}
.P_closebtn {
    background:#FAFAFA;
    cursor:pointer;
    display: none;
    font-size:24px;
    height: 40px;
    line-height:40px;
    position: absolute;
    right: 20px;
    text-align:center;
    top: 0;
    width: 40px;
    z-index: 12;
}
.P_closebtn:hover {
    background-color: #E8E8E8;
}