/*
Common css
*/
.marginbottom10px {
    margin-bottom:10px;
}
.marginbottom20px {
    margin-bottom:20px;
}
.marginbottom50px {
    margin-bottom:50px;
}
.green {
    color:#398439 !important;
}
.red {
    color:#8C0000 !important;
}
.white {
    color:white !important;
}