.loginpage .main .adv {
	height:100px;
}
.loginpage .main .board {
	padding:80px 0;
}
.loginpage .main .board .unregister {
	font-size:12px;
	font-family:"宋体";
	font-weight:normal;
	position:absolute;
	right:170px;
	top:87px;
}
.loginpage .boldline {
	margin:30px 0;
}
.loginpage .emailsent, .loginpage .forgotpwd {
	padding:50px;
	margin:150px 200px;
}
.loginpage .resend {
	color:#FFF;
	height:auto;
	line-height:normal;
}
.loginpage .voucherreg .vtitle {
	background:url(../img/bigicon.png) left -270px no-repeat;
	color:#FFF;
	height:38px;
	line-height:38px;
	margin:0 0 9px 0 !important;
	padding:0 0 0 10px;
	position:relative;
	width:105px;
}
.loginpage .investorquestions {
	width:100%;
}
	.loginpage .investorquestions ul {
	}
		.loginpage .investorquestions ul li {
                    float:left;
                    list-style:none;
                    padding:5px 5px 5px 0;
		}

	
.loginpage #userphoto, .loginpage #companyphoto {
        background-position:center center;
	display:inline-block;
	float:left;
	height:120px;
	margin-right:10px;
	*margin-right:5px;
	position:relative;
	width:120px;
}
.loginpage .videoplaybtn {
    background:url(http://cdn1.iconfinder.com/data/icons/socialmediaicons_v120/16/youtube.png);
    top:3px;
    display:block;
    height:16px;
    position:absolute;
    left:-16px;
    width:16px;
}
.loginpage #userphoto {
    height:120px;
    width:120px;
}
.loginpage #companyphoto {
	height:120px;
	width:120px;
}
.loginpage .projectgalleryphoto {
	
	height:90px;
	width:120px
}
.loginpage .edituserphoto, .loginpage .editcompanyphoto {
	position:absolute;
	right:2px;
	bottom:2px;
}
.loginpage .signblock {
    background:#FBFBFB;
    border:1px #DDD solid;
    padding:10px;
    text-align:center;
    
}

.loginpage .toaddg, .loginpage .addedg {
    background:url(../img/question-simbol.png) center center no-repeat;
    border:1px #DDD solid;
    cursor:pointer;
    display:inline-block;
    float:left;
    height:80px;
    line-height:20px;
    margin:0 10px 10px 0;
    padding:5px 10px;
    position:relative;
    font-size:12px;
    width:320px;
}
.loginpage .hidden {
    display:none;
}
.loginpage .toaddg:hover {
    background-image:url(../img/question-simbol-twice.png);
}
.loginpage .addedg {
    background-image:none;
    cursor:auto;
}
.loginpage .addedg {
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.12);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.12);
    box-shadow:0px 0px 4px rgba(0,0,0,0.12);
}
.loginpage .addedguarantees {

}

    .loginpage .addedguarantees .addedg:hover {
        -webkit-box-shadow:0 0 4px rgba(0,0,0,0.12);
        -moz-box-shadow:0 0 4px rgba(0,0,0,0.12);
        box-shadow:0px 0px 4px rgba(0,0,0,0.12);
    }
        .loginpage .addedguarantees .addedg .edit {
            background:url(../img/gicon.png) left -1283px;
            background-position: left -1644px;
            height:24px;
            position:absolute;
            right:0;
            top:0;
            width:24px;
        }
.loginpage .addguarantee, .loginpage .editguarantee {
    background:#FFF;
    width:450px;
}
    .loginpage .addguarantee .head, .loginpage .editguarantee .head {
        background:#F8F8F8;
        font-weight:bold;
        padding:20px;
        position:relative;
    }
            .loginpage .editguarantee .head .btn {
                margin-left:10px;
                height:28px;
            }
    .loginpage .addguarantee .footer, .loginpage .editguarantee .footer {
        background:#F8F8F8;font-weight:bold;
        text-align:center;
        padding:20px;
    }
    .loginpage .addguarantee .body, .loginpage .editguarantee .body {
        background:#FFF;
        padding:20px;
    }
    .loginpage .addguarantee .alertblock {
        padding:20px;
    }
        .loginpage .addguarantee .body .col1, .loginpage .editguarantee .col1 {
            width:150px;
        }
        .loginpage .addguarantee .body td, .loginpage .editguarantee .body td {
            height:38px;
            line-height:38px;
            padding-bottom:10px;
        }
        .loginpage .addguarantee .body .text, .loginpage .editguarantee .body .text {
            height:24px;
            line-height:24px;
            width:200px;
        }
.loginpage .fixthousand {
    color:#888;
    font-size:12px;
    left:45px;
    position:absolute;
    top:1px;
    z-index:5;
}
.list .main {
	margin-top:50px;
	margin-bottom:50px;
	min-height:inherit;
}

.detail .titleblock, .people .titleblock, .people .subtitleblock {
	background:#FFF;
	border-bottom:1px solid #E0E0E0;
	height:90px;
	
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.12);
    -moz-box-shadow:0 0 2px rgba(0,0,0,0.12);
    box-shadow:0px 0px 2px rgba(0,0,0,0.12);
}
.detail .main, .people .main{
	margin-bottom:30px;
	margin-top:30px;
}

.detail .main .ltside, .checkout .main .ltside {
	padding-right:20px;
	width:570px !important;
}

	.detail .main .ltside .description {
		font-family:"宋体";
		font-size:14px;
		line-height:24px;
	}
		.detail .main .ltside .description p{
			margin-bottom:24px;
		}
	.detail .main .ltside .photocontainer {
		width:570px;
		
		-webkit-box-shadow:0 0 5px rgba(0,0,0,0.24);
	    -moz-box-shadow:0 0 5px rgba(0,0,0,0.24);
	    box-shadow:0px 0px 5px rgba(0,0,0,0.24);

	}
		.detail .main .ltside .photocontainer .photo, .detail .main .ltside .photocontainer .video {
			height:425px;
			position:relative;
			width:100%;
		}
                .detail .main .ltside .photocontainer .video {
                    display:none;
                }
			.detail .main .ltside .photocontainer .photo a {
				display:block;
				height:425px;
				position:relative;
				overflow:hidden;
				width:100%;
			}
				.detail .main .ltside .photocontainer .photo a img {
					position:absolute;
					left:0;
					top:0;
				}

		.detail .main .ltside .photocontainer .photopages {
			background:#333;
			height:auto;
			padding:15px;
		}
			.detail .main .ltside .photocontainer .photopages .photopage {
				background: #F0F0F0;
				height:75px;
				float:left;
				margin-right:10px;
				position:relative;
				width:100px;
			}	
				
				.detail .main .ltside .photocontainer .photopages .photopage .dot {
					background:url(../img/icon.png) left -330px no-repeat;
					display:none;
					height:15px;
					position:absolute;
					right:-5px;
					top:-5px;
					width:14px;
				}
				.detail .main .ltside .photocontainer .photopages .photopage:hover .dot {
					display:block;
				}
				.detail .main .ltside .photocontainer .photopages .photopage .selected {
					background-position: left -310px !important;
					display:block !important;
				}
				.detail .main .ltside .photocontainer .photopages .photopage a {
                                        display:inline-block;
					height:75px;
					width:100px;
					overflow:hidden;
				}

.sideblock .x03 {
	padding:0 10px 20px 10px;
}
.detail .video embed {
    width:100%;
    height:100%;
}
.detail #startup_descr embed {
    width:100%;
}
.detail .caltermsheets {
	font-size:14px;
	margin:0;

}
.detail .calpanel {
	background:#F4F4F4;
	border-bottom:1px #E8E8E8 solid;
	border-top:1px #E8E8E8 solid;
	padding:20px;
}
	.detail .calpanel .text {
		height:24px;
		line-height:24px;
		padding:5px 10px 5px 24px;
		float:left;
		*float:none;
		font-family:"Microsoft Yahei";
		font-size:14px;
		width:100px;
	}
	.detail .calpanel .btn {
		float:left;
		*float:none;
		height:36px;
		margin-left:5px;
	}
	.detail .result {
		display:none;
		margin:10px 0 0 0;
		text-align:center;
	}
		.detail .result .toptip {
			font-size:14px;
			margin:0;
			padding:20px;
		}
			.detail .result .btn {
				float:none;
			}
	.detail .calpanel .currencysymbol {
		color:#aaa;
		font-size:14px;
		left:8px;
		position:absolute;
		top:2px;
	}
	.detail .caltermsheets li {
		display:block;
		list-style:none;
		padding:5px 0;
		padding-left:28px;
		position:relative;
	}
		.detail .caltermsheets li .bullet {
			left:5px;
			top:8px;
		}
		.detail .caltermsheets li p {
			line-height:25px;
		}
.people .peoplelt .selfintroduction .shadowbtn {
	height:10px;
	font-size:10px;
	line-height:10px;
	width:auto;
}

.people .peoplelt .selfintroduction {
	margin-bottom:30px;
	position:relative;
}
	.people .peoplelt .selfintroduction .info {
		font-size:12px;
		margin-bottom:10px;
		max-height:108px;
		margin-top:5px;
		line-height:18px;
		overflow:hidden;
	}
.people .peoplelt .block {
	margin-bottom:30px;
}
.people .titleblock {
	height:35px;
	padding-top:45px;
}
.people .subtitleblock {
	background:#f8f8f8;
	height:80px;
	padding:10px 0;
}
	.people .subtitleblock .photo {
		height:50px;
		position:relative;
	}
		.people .subtitleblock .photo .photolink {
			background:#FFF;
			border:1px #aaa solid;
			padding:2px;
			position:absolute;
			top:-48px;
		}
		.people .subtitleblock .photo .badge {
			position:absolute;
			left:5px;
			top:5px;
		}
	.people .titleblock p {
		font-size:15px;
		font-weight:bold;
	}
	.detail .titleblock .lt, .detail .titleblock .rt {
		height:90px;
		position:relative;
	}
		.detail .titleblock .lt h1 {
			font-size:16px;
			font-weight:bold;
			left:0;
			position:absolute;
			top:30px;
		}
		.detail .titleblock .lt h2 {
			color:#888;
			font-size:12px;
			font-family:"宋体";
			font-weight:normal;
			left:0;
			position:absolute;
			top:56px;
		}
		.detail .titleblock .rt .jiathis_style {
			position:absolute;
			right:0;
			top:56px;
		}
		.people .bar {
			bottom:0;
		}
.people .x04 {
	padding-top:34px;
}

.people .x05 {
	color:#888;
	font-family:'宋体';
	margin-bottom:4px;
	margin-top:4px;
}
.people .x06 {
	height:10px;
}
.people .x07 {
	display:block;
	
}
.people .autoheight {
	max-height:none !important;
}
.people .loadmore {
	display:block;
	height:auto;
}
.people .settings {	
	background-position:6px -359px;
	position:absolute;
	right:5px;
	bottom:0;
}
.my {
	
}
.my #sidenavwrapper{
	margin-right:10px;
	width:100px;
}


.my .mainbody {
	
}
	.my .mainbody .title {

	}
		.my .mainbody .title h1 {
			font-size:18px;
		}
		.my .mainbody .title h4 {
			color:#aaa;
			font-size:13px;
		}
.my .settag .fulltag {
	display:inline-block;
	float:left;
	margin-right:5px;
	width:auto;
	position:relative;
	padding-left:15px;
	padding-right:30px;
}
	.my .settag .fulltag .close {
		background-position:4px -426px;
		background-image:url('../img/gicon.png');
		background-repeat:no-repeat;
		display:inline-block;
		height:15px;
		position:absolute;
		top:6px;
		right:6px;
		width:15px;
		
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

	}
	.my .settag .fulltag .close:link {
		
	}
	.my .settag .fulltag .close:visited {
		
	}
	.my .settag .fulltag .close:hover {
		background-color:#BBB;
		background-position: 4px -446px;
	}
	.my .settag .fulltag .edit {
		background:transparent;
		border:0;
		display:inline-block;
		height:19px;
		line-height:24px;
		margin:0 !important;
		padding:0;
	}
	
.my .addtag {
	
}
	.my .addtag .ntext {
		margin:0 10px 0 0;
		
	}
	.my .addtag .btn {
		padding:0 10px;
		height:32px;
		line-height:32px;
	}

.my .gallerywrapper {
	padding:0;
}
	.my .gallerywrapper .gallery {
		float:left;
		height:auto;
		margin-right:10px;
		padding:10px;
		width:128px;
		
	}
	.my .gallerywrapper .gallery:hover {
		background:url(../img/black05percent.png);
	}
		.my .gallerywrapper .gallery .img {
			display:block;
			width:100%;
		}
			.my .gallerywrapper .gallery .img img {
				display:block;
				width:100%;
			}
		.my .gallerywrapper .gallery .name {
			display:block;
			text-align:center;
			margin:10px 0;
		}
		.my .gallerywrapper .gallery .gbtn {
			background-image: url("../img/texture.png") !important;
			background-repeat:repeat;
			background-position:left top;
			font-size:11px;
			padding:2px 5px;
		}

	.my .gallerywrapper .galleryrowend {
		margin-right:0;
	}
.my .tab {
	/*padding:0;*/
	padding-top:0;
}
.my .messagebox {
}
	.my .messagebox .mailcontrols {
		border-bottom:1px #EEE solid;
		padding:10px;
	}
	.my .messagebox .mailwrapper {
		font-family:Arial,"宋体";
		font-size:14px;
	}
		.my .messagebox .mailwrapper .mailitem {
			cursor:pointer;
			display:block;
			padding:10px;
			
		}
		
		.my .messagebox .mailwrapper .mailitem, .my .messagebox .mailcontrols .mailitem {
			height:24px;
			position:relative;
		}
			.my .messagebox .mailwrapper .mailitem .delete {
				background-color:transparent;
				background-position: left -297px;
				border-color:transparent;
				display:none;
				padding:0;
				margin:0;
				width:22px;
				height:24px;
			}
			.my .messagebox .mailwrapper .mailitem .delete:hover {
				border-color:#AAA !important;
			}
			.my .messagebox .mailwrapper .mailitem:hover .delete {
				display:block;
			}
		.my .messagebox .mailwrapper .mailitem:hover {
			background:#F0F0F0;
		}
		.my .messagebox .mailwrapper .unread {
			font-weight:bold;
		}
.my .messagebox .mc {
	display:inline-block;
	float:left;
	height:24px;
	line-height:24px;
	margin-right:10px;
	overflow:hidden;
	position:relative;
}		
	.my .messagebox .mc .cbk {
		display:inline-block;
		position:absolute;
		left:0;
		top:2px;
		
	}
.my .messagebox .mc01 {
	width:20px;
	margin-right:10px;
	min-height:10px;
}
.my .messagebox .mc02 {
	width:70px;
}

.my .messagebox .mc03 {
	width:500px;
	
}
.my .messagebox .mc04 {
	width:30px;
}
.my .messagebox .mc05 {
	color:#AAA;
	font-size:12px;
	font-weight:normal;
	margin:0;
    font-style:italic;
}
.my .deleteselected {
	
	background-position:2px -297px;
	height:24px;
	line-height:20px;
	padding:0 10px 0 30px;	
	position:absolute;
	left:120px;
	top:10px;
	z-index:9;
}
.my .x08 {
	background:#FFF;
}
.my .reply, .my .deletedetail, .my .back {
	background-position: 5px -125px;
	right:0;
	top:0;
	position:absolute;
}
.my .deletedetail {
	background-position: 3px -295px;
	right:80px;
}
.my .back {
	background-position: 2px -263px;
	right:161px;
}

.my .messagedetail .pagetitle {
	width:520px;
}
.my .from {
	position:relative;
}
	.my .from .tt {

		float:left;
		margin-left:10px;
		position:relative;
	}
		.my .from .tt .x09 {
			color:#AAA;
		}
.my .content {
	background:#F8F8F8;
	line-height:24px;
}
	.my .content .history {
		margin:20px 0 20px 30px;
		
	}
		.my .content .history .historyitem {
			border-left:2px #EEE solid;
			display:block;
			height:52px;
			overflow:hidden;
			padding:5px 60px 4px 15px;
			position:relative;
		}
		.my .content .history .historyitem:hover {
			background-color:#FFF;
			border-color:#D73C23;
		}	
			.my .content .history .historyitem .historytt {
				font-size:12px;
				left:70px;
				position:absolute;
			}
			.my .content .history .historyitem .historymessage {
				font-size:12px;
				left:70px;
				position:absolute;
				top:30px;
				overflow:hidden;
			}
			.my .content .history .historyitem .historyphoto {
				border:0;
				display:block;
				height:42px;
				width:42px;
				position:absolute;
				left:10px;
				top:10px;
			}

.my .replytxt {
	background:#FFF;
	padding:20px;
}
			
	.my .replytxt .text {
		height:140px;
		line-height:24px;
		width:420px;
	}
.checkout .main .ltside .docs {
	background:#FFF;
}
.checkout .main .ltside .confirmpanel {
	background:#FFF;
	min-height:40px;
	position:relative;
}
	.checkout .main .ltside .confirmpanel .address {
		background:#FBFBFB;
		margin:10px 0 0 0;
		padding:20px;
		text-align:left;
	}
	.checkout .main .ltside .confirmpanel .needpaperwrapper {

	}
	.checkout .main .ltside .confirmpanel .btn {
		bottom:20px;
		position:absolute;
		left:20px;
		_bottom:20px;
		_right:20px;
		_position:static;
	}
		.checkout .main .ltside .confirmpanel .address .text {
			width:60%;
			height:24px;
		}
		.checkout .main .ltside .confirmpanel .address textarea {
			height:64px !important;
		}
	.checkout .main .ltside .docs .content {
                font-size:14px;
                height:500px;        
                line-height:30px;
                overflow:auto;
                padding:20px;
	}
	.checkout .main .ltside .docs .footer {
		background:#F8F8F8;
		font-size:18px;
		font-weight:bold;
		padding:20px;
		text-align:center;
	}
		.checkout .main .ltside .docs .content table .col1 {
			width:120px;
		}
		.checkout .main .ltside .docs .content h1 {
			margin:15px 0;
			text-align:center;
		}
	.checkout .main .ltside .docs .head {
		background:#F8F8F8;
		font-weight:bold;
		padding:20px;
		text-align:center;
	}
		.checkout .main .ltside .docs .head .tab {
			padding:0;
		}
                .checkout .successpanel {
                    background:url(../img/black05percent.png);
                }
.checkout .checkoutflow {
	color:#D0D0D0;
	font-size:18px;
	font-weight:bold;
	height:90px;
	line-height:90px;
	padding-top:10px;
	text-align:center;
}
.checkout .checkoutflow span {
	margin:0 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}
.companyinfo #sidenavwrapper {
    margin-left:20px;
    width:auto;
}
.companyinfo .sidenav li {
}
.companyinfo .sidenav li a {
    background:url(../img/no.png) 6px 10px no-repeat;
    border-left: 2px solid #DFDFDF;
    border-right: 0;
    text-align:left;
    padding-left:30px;
}
.companyinfo .sidenav li .saved {
    background-image:url(http://cdn1.iconfinder.com/data/icons/Boolean/Signage/OK.png);
}
.companyinfo .sidenav li a:link {

}
.companyinfo .sidenav li a:visited {

}
.companyinfo .sidenav li a:hover {
        border-color:#D73C23;
        color:#D73C23;
}